@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500 & display=swap');
li{
  text-decoration: none;
  list-style-type: none;
}
*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body{
  font-size: 18px;
  color: #ffff;
  margin: 0px;
  background: #0D1323;
  margin-top: 3.75rem; 
  font-family: 'Rubik', sans-serif ;
}

article.perfil{
  max-width: 250px;
  width: 100%;
}
.wrapper{
  display: flex;
  width: 100%;
  justify-content: center; /*Controla os filhos dele*/
}

img.robson{
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
}

.foto-perfil p{
  font-size: 2.5rem;
  margin: 10px;
}

.foto-perfil p.report {

  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.432)
}


div.menu ul, a {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  color: rgb(138, 138, 138);
  padding: 13px;
}



div.menu a {
  display: block;
  padding: 10px 0;
}

div.menu a:hover{
  color: #ffff;
}

div.foto-perfil{
  background: #5746EA;
  border-radius: 10px;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 100px;
  
}

div.menu{
  
  background: #1D204B;
  padding: 25px;
  border-radius: 10px;
}

.conteudo .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-left: 30px;
  margin: 0px;

}

.conteudo > ul > li{
  background: #1D204B;
  margin-top: 35px;
  padding: 25px;
  padding-top: 10px;
  border-radius: 10px;
}

li .pontos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.pontos h2{
  font-size: 1rem;
}

.grid h3{
  font-size: 3rem;
  margin: 5px;
}

.grid p {
  font-size: 00.8rem;
  color: rgba(255, 255, 255, 0.384);
}
