@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500 & display=swap');
li{
  text-decoration: none;
  list-style-type: none;
}
*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0px;
}

ul h3{
  margin-left: 0px;
}

body{
  height: 100vh;
  font-size: 1.125rem;
  color: #ffff;
  margin: 0px;
  background: #0D1323; 
  font-family: 'Rubik', sans-serif ;
}

main{
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column
}

section{
  width: 100%;
}

.container{
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  position: relative;
  max-width: 68.75rem;
}

article.perfil{
  max-width: 15.625rem;
  width: 100%;
}
.wrapper{
  display: flex;
  width: 100%;
  right: 100%;
  gap: 1.4rem;
  justify-content: center; /*Controla os filhos dele horizontalmente*/
}

img.robson{
  max-width: 4.375rem;
  width: 100%;
  border-radius: 50%;
  margin-bottom: .9375rem;
  border: 2px solid;
}

.foto-perfil p{
  font-size: 2.5rem;
  margin: .625rem;
  font-weight: 100;
}

.foto-perfil p.report {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.432)
}


div.menu ul, a {
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  color: rgb(138, 138, 138);
  padding: .8125rem;
}



div.menu a {
  display: block;
  padding: 10px 0;
}

div.menu a:hover{
  color: #ffff;
}

div.foto-perfil{
  position: relative;
  z-index: 1;
  background: #5746EA;
  border-radius: .625rem;
  padding: 25px 15px 25px 15px;
  border-radius: .625rem;
  padding-bottom: 3.125rem;
  animation-name: up;
  animation-duration: 1s;
  transform: translateY(9.375rem);
  animation-fill-mode: forwards;
}

@keyframes up{
  from{
    
  }
  to {
    
    transform: translateY(0rem);
  }
}

div.menu{
  bottom: 2.6875rem ;
  position: relative;
  background: #1D204B;
  padding: 25px 15px 0px 15px;
  border-radius: .625rem;
}

.conteudo{
  width: 100%;
}

.conteudo .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5625rem;
  /*padding-left: 20px;*/
  margin: 0px;
}

div.icon {
  background:#FF8B66 ;
  border-radius: 10px 10px 0px 0px ;
  display: flex;
  justify-content: flex-end;
  height: 2.375rem;
  height: 3.125rem;
  animation-name: subir;
  animation-duration: 2s;
  position: relative;
  transition: 0.5s background-color ease-in;
  animation-fill-mode: forwards;
  transform: translateY(3.125rem);
}

@keyframes subir{
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

div.icon img{
  width: 4.375rem;
  margin-right: .625rem;
  opacity: 0.9;
  object-fit:cover ;
}

.conteudo .card-inf{
  padding:1.5625rem ;
  padding-top: .3125rem;
  margin-top: -0.9375rem;
  position: relative;
  background: #1D204B;
  border-radius: .625rem;
}

.conteudo .card-inf:hover{
  background:#323B7C ;
}

li .pontos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pontos h2{
  font-size: 1rem;
  font-weight: 400;
}

.grid h3{
  font-size: 3rem;
  margin: 5px;
  font-weight: 200;
  margin-left: 0px;
}

.grid p {
  font-size: 00.8rem;
  color: rgba(255, 255, 255, 0.486);
}

.grid li:nth-child(2) .icon{
  background:#56C2E6 ;
  animation-delay: 0.3s;
}

.grid li:nth-child(3) .icon{
  background:#FF5E7D;
  animation-delay: 0.6s;
}

.grid li:nth-child(4) .icon{
  background:#4CCF83;
  animation-delay: 0.9s; 
}


.grid li:nth-child(5) .icon{
  background:#7235D0;
  animation-delay: 1.2s;
}

.grid li:nth-child(6) .icon{
  background:#F1C75B;
  animation-delay: 1.5s;
}

@media (max-width: 56.25rem) {
  .wrapper {
    flex-direction: column;
    margin-top: 6.25rem
  }
  .conteudo .grid { grid-template-columns: 1fr;
  }
  body {
    height: auto;
  }
  .foto-perfil{
    display: flex;
    align-items: center;
  }
  article.perfil{
    max-width: none;
  }
  article.perfil{
    margin-bottom: -3.4375rem;
  }
  div.foto-perfil{
    top: 4.375rem;
    padding-bottom: 1.25rem;
  }
  ul.menu-a {
    display: flex;
    justify-content: space-between;  
  }
  .wrapper-name p{
    margin: 0px 0px 0px 20px;
    font-size: 1.5rem;
  }
  .wrapper-name{
    margin-bottom: .625rem;
  }
  .conteudo .wrapper-hora {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .grid h3{
    font-size: 2rem;
  }
}  

footer h1 {
  position: relative;
  width:max-content ;
  margin: 0 auto;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  width: 0%;
  height: 100%;
  color: #323B7C;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #323B7C;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate{
  0%{
    width: 0;
  }
  70%{
    width: 100%;
  }
}